* {
	padding:0;
	margin:0;
  body
}
/*@import url(https://fonts.googleapis.com/css?family=Cabin);*/
@import url(https://fonts.googleapis.com/css?family=Lato);
#container {
	width: 100%;
}
#columna-primera {
  width: 40%;
	float: left;

}

#columna-primera img{
  width: 100%;

}

#columna-segunda {
	width: 50%;
	float: left;
}

#columna-segunda p{
	width: 100%;
  /*font-family: 'Cabin', sans-serif;*/
	font-family: 'Lato', sans-serif;
}

h2 {
	font-family: 'Lato', sans-serif;
}
