<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JRocha</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
  <link rel="stylesheet" href="./stylesheets/p1.css">
</head>

<body>
  <div class="row align-center container1 ">
      <h4>Estructura de un Elemento</h4>
  </div>
  <div class="row">
    <div class="small-6 columns">
       <img src="img/elemento.png">
    </div>
    <div class="small-6 columns container2">
        <h5>Matgin</h5>
        <p>El Margin es la separación entre el borde y la parte exterior de un elemento.</p>
        <h5>Border</h5>
        <p>El Border es una línea que se dibuja alrededor de un elemento.</p>
        <h5>Padding</h5>
        <p>El Padding es la separación entre el borde y el elemento.</p>
        <h5>Content</h5>
        <p>El Content es el contenedor que albergar un dibujo o texto.</p>
    </div>
    </div>
    <div class="row align-center container3 ">
        <h4>Propiedades de CSS</h4>
    </div>
    <div class="row container4">
      <div class="small-12 columns text-center">
        <h5>width</h5>
        <p>El widht se utiliza para ajustar el ancho de un elemento, para ajusatar elemento podemos usar algunos valores como el % px</p>
      </div>
    </div>
    <div class="row container4">
      <div class="small-12 columns text-center">
        <h5>max-width</h5>
        <p>El max-width se usa para fijar un ancho maximo de un elemento.</p>
      </div>
    </div>
     <div class="row container4">
    <div class="small-12 columns text-center">
        <h5>height</h5>
        <p>Se usa para ajustar la altura de un elemento, podemos usar algunos valores como el % o px.</p>
    </div>
  </div>
   <div class="row container4">
    <div class="small-12 columns text-center">
        <h5>max-heigth</h5>
        <p>El max-height se usar para fijar una altura maxima de un elemento</p>
    </div>
  </div>
  <div class="row container4">
    <div class="small-12 columns text-center">
        <h5>display</h5>
        <p>El display se usa para decir si un elemento estara en bloques o sera en linea.</p>
    </div>
  </div>
    <div class="row container4">
    <div class="small-12 columns text-center">
        <h5>overflow</h5>
        <p>El overflow se usa para hacer visibles o invisibles los elementos, con el valor overflow: hidden, hacemos que un elemento sea invisibles, pero elemento sigue ocupando sitio en la página html y con el valor overflow: visible el elemento vulve estar visible, con el valor overflow: none, hacemos que el elemento se invisible y aparte no ocupe espacio.</p>
    </div>
  </div>
  <div class="row container4">
    <div class="small-12 columns text-center">
        <h5>z-index</h5>
        <p>El z-indez usa para decir en que nivel se mostrara un elemento.</p>
    </div>
  </div>
  <div class="row container4">
    <div class="small-12 columns text-center">
        <h5>line-height</h5>
        <p>El line-height se usa para decirle que altura dentra cada línea que forma el contenido del texto</p>
    </div>
  </div>
   <div class="row container4">
    <div class="small-12 columns text-center">
        <h5>box-sizing</h5>
        <p>Se usa para modificar las propiedades por defecto del css box model que calculan el alto y el ancho de los elementos.</p>
    </div>
  </div>
  <script src="js/bundle.js"></script>
</body>

</html>


